<div>
  <h1 class="font-bold text-4xl">Nfts#new</h1>
  <p>Find me in app/views/nfts/create.html.erb</p>
  <p>id = <%= @id %></p>
  <p>name = <%= @minter_name %></p>
  <button><%= link_to "メダルを一覧", "/medals/show" %></button>
</div>